<%= paginate @genres%>
<h2>Genres (<%= @genres.length %>)</h2>
<ol>
  <% @genres.each do |genre| %>
    <li>
      <%= link_to genre.title, genre %> (<%= genre.vgames.count %> Games)
    </li>
  <% end %>
</ol>
<%= paginate @genres%>