<%= paginate @vgames%>

<h2>
  <%= link_to "Genres", root_path%> /
  Video Games
</h2>

<ol>
  <% @vgames.each do |vgame| %>
    <li>
      <%= vgame.title %> (<%= number_to_currency vgame.price %>)
 <%= form_with url: checkout_index_path, method: :post do %>
          <%= hidden_field_tag "vgame_id", vgame.id, :id => vgame.id %>
          <%= number_field_tag :qty, 1%>
          <%= submit_tag "Add to cart" %>
      <% end %>
      <ul>
        <% vgame.vgame_variants.each do |variant|%>
          <li><%= variant.title%> (<%= number_to_currency variant.price %>)</li>
        <% end %>
      </ul>
    </li>
  <% end %>
</ol>

<%= paginate @vgames %>