<!DOCTYPE html>
<html>
  <head>
    <title>FinalProject</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <link rel = "stylesheet" href = "https://cnd.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <header>
    <section class ="section">
      <div class="container">
        <p>
          <%= link_to "Home", root_path%> |
          <%= link_to pluralize(cart.size, 'item'), checkout_index_path %>
          <%= session[:shopping_cart] %>
          <%= cart %>
        </p>
      </div>
    <%= yield %>
  </header>
</html>
